.home-dashboard {
    overflow: auto;
}

.black{
    background-color: black;
}

.home-task{
    margin: 10px 0;
}

.home-tasks-container{
    margin-top: 3rem
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.logout-icon{
    margin-left: 0.5em;
    cursor: pointer;
}

.home-card {
    min-height: 500px;
}

.task-container{
    margin-top: 4em;
}

.padding-task{
    display: flex;
    justify-content: space-evenly;
}

.task-container .task-card .card-body {
    padding: 0.5rem;
}

.task-form{
    display: flex;
    align-items: center;
}