.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.d-none {
    display: none;
}

.input-disabled{
    background-color: #e9ecef;
    box-shadow: none;
    border: none;
    pointer-events: none;
    color: #495057;
}