body{
    /* background-color: red !important; */
    background-color: #d7cedf !important;
}

.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.d-none {
    display: none;
}

.input-disabled{
    background-color: #e9ecef;
    box-shadow: none;
    border: none;
    pointer-events: none;
    color: #495057;
}

.error {
    color: #9f3a38;
}

.error > input {
    background-color: #fff6f6;
	border-color: #e0b4b4;
	color: #9f3a38;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.error > select {
    background-color: #fff6f6;
	border-color: #e0b4b4;
	color: #9f3a38;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.break-word {
    overflow-wrap: break-word;
}

.navbar-username {
    color: black;
}