.auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d7cedf;
}

.auth-img{
    width: 400px;
    background:url('../../assets/img/door.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row .card-rounded-30{
    border-radius: 30px !important;
}


.user-dummy-container{
    margin: 0 0 1.5rem 0;
    border: 1px #cec6c6 solid;
    padding: 0.3rem;
}